{% extends "base.html" %}

{% block content %}
{% if request.user.is_authenticated and habit.owner == request.user %}

<h1>Create Daily Record for {{habit}}</h1>

<form action="{% url 'new-record' habit.pk %}" method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <p>
        <button type="submit">Log Daily Record</button>
    </p>
</form>
{% elif request.user.is_authenticated %}
<p>You are not authorized to create a record for this habit.</p>
{% else %}
<ul>
    <li>
        <a href="{% url 'auth_login' %}">Login to Continue</a>
    </li>
    <li>
        <a href="{% url 'registration_register' %}">Register to Track Habits</a>
    </li>
</ul>
{% endif %}
{% endblock %}