{% extends "base.html" %}

{% block content %}
{% if request.user.is_authenticated and habit.owner == request.user %}

<h1>Create Daily Record for {{habit}}</h1>

<form action="{% url 'new-record' habit.pk %}" method="POST">
    {% csrf_token %}
    <label for="{{ form.date.id_for_label }}">Date:</label>
    <p><input type="text" id="{{ form.date.id_for_label }}" name="{{ form.date.html_name }}"
            value="{{ form.date.value|date:"Y-m-d" }}"></p>

    <label for="{{ form.num_achieved.id_for_label }}">How many {{unit}} did you achieve this day?</label>
    <p><input type="number" id="{{ form.num_achieved.id_for_label }}" name="{{ form.num_achieved.html_name }}"></p>
    <button type="submit">Create / Update Daily Record</button>
</form>

{% elif request.user.is_authenticated %}
<p>You are not authorized to create a record for this habit.</p>
{% else %}
<ul>
    <li>
        <a href="{% url 'auth_login' %}">Login to Continue</a>
    </li>
    <li>
        <a href="{% url 'registration_register' %}">Register to Track Habits</a>
    </li>
</ul>
{% endif %}
{% endblock %}