{% extends "base.html" %}

{% block content %}
{% if request.user.is_authenticated and habit.owner == request.user %}

<div class='center tc avenir'>
    <h1>{{ habit.activity|title}} Record </h1>
</div>
<div class='center tc avenir'>
    </p> Your goal: {{ habit.goal_num }} {{ habit.unit}}</p>
</div>

<div>
    <a href="{% url 'new-record' habit.pk %}">Add / Update Daily Records</a>
</div>

<div class="dt dt--fixed w-80 avenir center tc h2 fb1">
    <div class="dtc bg-light-gray v-mid">Date</div>
    <div class="dtc bg-light-gray v-mid">Completed</div>
    <div class="dtc bg-light-gray v-mid">Achieved Goal</div>
</div>

{% for record in records_list %}
<div class="dt dt--fixed w-80 avenir center tc">
    <div class="dtc">{{ record.date }}</div>
    <div class="dtc">{{ record.num_achieved }} {{ habit.unit }} </div>
    {% if record.num_achieved >= habit.goal_num %}
    <div class="dtc success">You did it!</div>
    {% else %}
    <div class="dtc fail">You need to work harder!</div>
    {% endif %}
</div>
{% endfor %}
{% endif %}

{% endblock %}