{% extends "base.html" %}

{% block content %}

<div class ='center tc'> {{ activity }} Track. </div>
<div class = 'center tc'> {{ num_goal }}</div>

<div class="dt dt--fixed w-80 avenir center tc">
        <div class="dtc bg-light-gray">Date</div>
        <div class="dtc bg-light-gray">Completed</div>
        <div class="dtc bg-light-gray">Achieved Goal</div>
</div>
<div class="dt dt--fixed w-80 avenir center tc">
        <div class="dtc">{{ date }}</div>
        <div class="dtc">{{ num_achieved }} {{ unit }} </div>
        <div class="dtc">{{ met_goal }}</div>
        
</div>


{% endblock %}